body {
    background-color: #8181e1;
}
.yo {
 padding: 50;
 margin: 20px;
 background-color: #ffff0b;
}
.flex {
 display: flex;
}
.adapth {
    padding-right: 189px;
}
.adaptv {
    padding-top: 189px;
}

.limit {
    max-width: 280px;
}